@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);



:root{
    --font-family:"Plus Jakarta Sans", sans-serif;
}

*{
    font-family: var(--font-family);
}

.small{
    font-size: 12px !important;
}

.pad{
    padding-right: 120px !important;
}
.arrow{
    align-items: center;
    width: 20px;
}
input.promo{
    font-size: 15px;
}
input::placeholder{
    font-size: 10px;
}
.visa-spread{
    padding-left: 590px !important;
}
.paypal-spread{
    padding-left: 630px !important;
}
.bitcoin-spread{
    padding-left: 630px !important;
}


@media  screen and (min-width: 768px) and (max-width: 991px) {
    .big-size{
        font-size: 20px !important;
        width: 100% !important;
    }
    .medium-size{
        font-size: 12px !important;
        width: 100% !important;
    }
    .medium-width-detailPage{
        width: 100%;
    }
}

@media  screen and (min-width: 770px) and (max-width: 908px){

}